
@media screen and (min-width:640px){
    nav ul li{
        height:170px;
    }
}
@media screen and (max-width:639px){
    html{
        font-size:5px;
    }
    .container{
        width:320px;
    }
    .container header{
        width:320px;
    }
    header .list_button {
        width: 30px;
        height: 30px;
        padding:5px 0 0 0 ;
        margin: 6px 0 0 20px;
        display: inline-block;
        float: left;
    }

    .list_button > span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #7A7A7A;
        margin-bottom: 5px;
        border-radius: 3px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

    }

    .list_button > span:nth-child(1).active {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px) scale(1.1);
        -moz-transform: rotate(-45deg) translate(-10px, 10px) scale(1.1);
        -ms-transform: rotate(-45deg) translate(-10px, 10px) scale(1.1);
        -o-transform: rotate(-45deg) translate(-10px, 10px) scale(1.1);
        transform: rotate(-45deg) translate(-7px, 7px) scale(1.1); }

    .list_button > span:nth-child(2).active {
        opacity: 0; }

    .list_button > span:nth-child(3).active {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) scale(1.1);
        -moz-transform: rotate(45deg) translate(-8px, -8px) scale(1.1);
        -ms-transform: rotate(45deg) translate(-8px, -8px) scale(1.1);
        -o-transform: rotate(45deg) translate(-8px, -8px) scale(1.1);
        transform: rotate(45deg) translate(-4px, -5px) scale(1.1); }
    nav{
        width:100%;
    }
    nav ul{
        height:80px;
    }
    nav ul li {
        height:80px;
    }
    nav>ul>li>a{
        margin-top:-30px;
        margin-left:-30px;
    }
    nav>ul>li>a>img{
        width:60px;
        height:60px;
    }
    .main_about_us{
        padding: 50px 10px 10px 20px;
    }
}
